# Database Configuration
DB_SERVER=DESKTOP-4I814ME\SQLEXPRESS
DB_NAME=FitnessCenterDB
DB_DRIVER=ODBC Driver 17 for SQL Server

# Server Configuration
PORT=5000
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=http://localhost:3000
